@using Microsoft.AspNetCore.Identity
@using NovalynxFashion.Core.Entidades.IdentityEntities
@using NovalynxFashion.Core.Enums
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor _context; 
@{
    var user = await userManager.GetUserAsync(_context.HttpContext.User);
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/dashboard/">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/dashboard.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Mensajes <span class="glyphicon glyphicon-envelope"></span></a></li>
                    <li><a href="">Publicaciones <span class="glyphicon glyphicon-list-alt"></span></a></li>

                    @if(user.Role == RoleEnum.Cliente)
                    {
                        <li><a href="">Favoritos <span class="glyphicon glyphicon-heart-empty"></span></a></li>
                    }
                </ul>
                
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main responsive" style="background-color: none; border: solid; border-width: 1px; border-color: black;">
                <h1 class="page-header">
                    @if (!string.IsNullOrEmpty(@user.ImageProfile))
                    {
                        <img src="@Url.Content($"~/{user.ImageProfile}")" alt="Logo" width="70" height="70" class="rounded-circle" />
                    }
                    else
                    {
                        <img src="/img/default-logo.png" alt="?" width="70" height="70" class="img-square" />
                    }
                    Bienvenido, @user.NombreCompleto
                </h1>
                @if(user.Role == RoleEnum.Empleado)
                {
                    <div style="margin-bottom: 2%">
                        <div class="col-lg-4">
                            <h4 class="text-center"><span class="label label-info">Resumen de Tareas Pendientes</span></h4>
                            <p style="font-size: xx-small"><i class="bi bi-dot"></i><span class="label label-danger">@ViewBag.NumeroDeProductosPendiente</span> Productos de suministradores pendientes en aprobación </p>
                            <p style="font-size: xx-small"><i class="bi bi-dot"></i><span class="label label-danger">@ViewBag.NumeroDeProductosEnRevision</span> Productos para manufacturar pendientes en aprobación </p>
                            <p style="font-size: xx-small"><i class="bi bi-dot"></i><span class="label label-danger">@ViewBag.ElementosEnElInventarioQueFaltanStock</span> Elementos en el inventario que faltan stock </p>
                        </div>

                        <div class="col-lg-4">
                            <h4 class="text-center"><span class="label label-warning">Notificaciones</span></h4>
                            <p><i class="bi bi-bell-fill"></i></p>
                            

                        </div>

                        <div class="col-lg-4">
                            <h4 class="text-center"><span class="label label-primary">Eventos</span></h4>
                            <p class="text-center"><i class="bi bi-calendar2-event"></i> @DateTime.Today.ToString("d")</p>
                        </div>
                    
                    
                    
                    </div>
                    
                    
                }
                
                <hr />
                

                <table class="table table-borderless">
                    <tr>
                        @if(user.Role == RoleEnum.Empleado || user.Role == RoleEnum.Ventas || user.Role == RoleEnum.Marketing || user.Role == RoleEnum.RecursoHumano || user.Role == RoleEnum.Financiero || user.Role == RoleEnum.Suministrador){
                            <th class="text-center">
                                <h5>Portal Suministrador</h5>
                                <h1><a asp-area="Adquisicion" asp-controller="PortalSuministrador" asp-action="Index"><i class="bi bi-person-raised-hand text-center"></i></a></h1>
                            </th>
                            <th class="text-center">
                                <h5>Productos de Suministradores</h5>

                                <h1>
                                      <a asp-action="Index" asp-area="Adquisicion" asp-controller="ProductoSuministrador"><i class="bi bi-box text-center"></i></a>
                                </h1>
                            </th>

                      
                            <th class="text-center">
                                <h5>Productos En Ventas</h5>
                                <h1><a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="Index"><i class="bi bi-shop-window"></i></a></h1>
                            </th>

                            <th class="text-center">
                                <h5>Mi Perfil</h5>
                                <h1><a asp-area="Registro" asp-controller="Cuenta" asp-action="Perfil"><i class="bi bi-person-circle"></i></a></h1>
                            </th>

                        }
                       

                        @if(user.Role == RoleEnum.Empleado)
                        {
                            <tr>
                                <th class="text-center">
                                    <h5>Ordenes en Carrito</h5>
                                <h1><span class="label label-danger" style="position: absolute; font-size: x-small">@ViewBag.NumeroDeProductosPendiente</span><a asp-area="Adquisicion" asp-controller="OrdenCarrito" asp-action="Index"><i class="bi bi-cart4"></i></a></h1>
                                </th>

                                <th class="text-center">
                                    <h5>Inventario General</h5>
                                <h1><a asp-area="Inventario" asp-controller="General" asp-action="Index"><span class="label label-danger" style="position: absolute; font-size: x-small">@ViewBag.NumeroDeProductosEnRevision</span><i class="bi bi-card-list"></i></a></h1>
                                </th>

                                <th class="text-center">
                                    <h5>Productos en Producción</h5>
                                    <h1><span class="label label-danger" style="position: absolute; font-size: x-small">@ViewBag.ElementosEnElInventarioQueFaltanStock</span><a asp-area="Inventario" asp-controller="Produccion" asp-action="Index"><i class="bi bi-minecart-loaded"></i></a></h1>
                                </th>

                              

                            </tr>
                            
                        }
                        
                        @if(user.Role == RoleEnum.Suministrador)
                        {
                            <tr>
                                <th class="text-center">
                                    <h5>Crear Perfil Suministrador</h5>
                                    <h1><a asp-area="Adquisicion" asp-controller="PortalSuministrador" asp-action="Crear"><i class="bi bi-building-fill-add"></i></a></h1>
                                </th>
                            </tr>
                             
                        }

                        @if(user.Role == RoleEnum.Cliente)
                        {
                            <tr>
                                <th class="text-center">
                                    <h5>Cátalogo de Productos</h5>
                                    <h1><a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="Index"><i class="bi bi-grid-3x3-gap-fill"></i></a></h1>
                                </th>

                                <th class="text-center">
                                    <h5>Ordenes en Carrito</h5>
                                    <h1><i class="bi bi-cart4"></i></h1>
                                </th>

                                <th class="text-center">
                                    <h5>Cúpones y Otras Recompensas</h5>
                                    <h1><i class="bi bi-wallet2"></i></h1>
                                </th>

                                <th class="text-center">
                                    <h5>E-Coins</h5>
                                    <h1><i class="bi bi-piggy-bank"></i></h1>
                                </th>
                            </tr>
                            
                        }
                        
                    

                    <!-- MARKETING Y PUBLICIDAD -->

                    @if(user.Role == RoleEnum.Marketing)
                    {

                    }
                    
                    <!-- FINANZA Y CONTABILIDAD -->   

                    @if(user.Role == RoleEnum.Financiero)
                    {
                        <tr>
                            <th class="text-center">
                                <h5>General Ledger</h5>
                                <h1><i class="bi bi-bank"></i></h1>
                            </th>
                        </tr>
                    }

                    <!-- RECURSOS HUMANOS -->

                    @if(user.Role == RoleEnum.RecursoHumano)
                    {

                    }

                    <!-- VENTAS -->

                    @if(user.Role == RoleEnum.Ventas)
                    {

                    }

                </table>
               
                </div>
            </div>
        </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    <span id="PING_IFRAME_FORM_DETECTION" style="display: none;"></span>
</body>
</html>