@model ListadoPortalSuministradorViewModel

@using Microsoft.AspNetCore.Identity
@using NovalynxFashion.Core.Entidades.IdentityEntities
@using NovalynxFashion.Core.Enums
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor _context;
@{
	var user = await userManager.GetUserAsync(_context.HttpContext.User);
}

<div class="col-12">
    <h1 class="text-center">Portal de los Suministradores</h1>
</div>

<div class="container">
    
    
    <div class="row">
        @foreach (var suministrador in Model.listadoSuministrador)
        {
            <div class="col-lg-4 card mb-3">
                <div class="card-body">
                    <!-- Display the logo -->
                    <div>
                        <center>
                            @if (!string.IsNullOrEmpty(suministrador.RutaLogoImg))
                            {
                                <img src="@Url.Content($"~/{suministrador.RutaLogoImg}")" alt="Logo" width="100" height="100" class="rounded-circle" />
                            }
                            else
                            {
                                <img src="/img/default-logo.png" alt="Default Logo" width="100" height="100" class="rounded-circle" />
                            }
                        </center>
                       
                    </div>

                    <h3 class="text-center"><span class="label label-success">@suministrador.NombreSuministrador</span></h3>
                    <ul>
                        <li><p class="card-text"><strong>Correo Electrónico: </strong>@suministrador.CorreoElectronico</p></li>
                        <li> <p class="card-text"><strong>Télefono: </strong>@suministrador.Telefono</p></li>
                    </ul>
                    
                   

                    <a asp-action="Editar" asp-route-id="@suministrador.Id" class="btn btn-primary btn-sm">Editar</a>
                </div>
            </div>
        }
        </div>
    
</div>