@using NovalynxFashion.UI.ViewModels
@model ListadoProductosEnVentaViewModel

@using Microsoft.AspNetCore.Identity
@using NovalynxFashion.Core.Entidades.IdentityEntities
@using NovalynxFashion.Core.Enums
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor _context;
@{
	var user = await userManager.GetUserAsync(_context.HttpContext.User);
}

<link rel="stylesheet" href="~/css/indexProductoEnVentas.css" asp-append-version="true" />


<div class="container">
	<h1 class="text-center">Productos Novalynx</h1>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaCasual"><img style="margin-bottom: 2%" id="imagenPrimera" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/2c/52/24/2c52249ee134700d9cf9786ff6e83990.jpg" alt="Generic placeholder image" width="35" height="35"></a>
                </center>
                <h5 class="text-center">Ropa Casual</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaInvierno"><img id="imagenSegunda" class="img-circle" src="https://i.pinimg.com/736x/1f/dc/3c/1fdc3c7d96d86183381314986bd126e4.jpg" alt="Generic placeholder image" width="35" height="35"></a>

                </center>
                <h5 class="text-center">Ropa de Invierno</h5>

            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaOficina">
                        <img id="imagenTercera" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/4f/0f/cb/4f0fcb4beb2adde3ddb09262b4e82475.jpg" alt="Generic placeholder image" width="35" height="35">
                    </a>

                </center>
                <h5 class="text-center">Ropa de Oficina</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaDeportivo">
                        <img id="imagenCuarta" class="img-circle" src="https://i.pinimg.com/736x/11/3d/e9/113de9e1c8989805e0f5beee55d389f0.jpg" width="35" height="35">

                    </a>

                </center>
                <h5 class="text-center">Ropa Deportiva</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaVerano">
                        <img id="imagenQuinta" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/a0/e5/95/a0e5955d074f15cf80e433f8d188d851.jpg" width="35" height="35">

                    </a>
                </center>
                <h5 class="text-center">Ropa de Verano</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaFormal">
                        <img id="imagenSexta" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/50/9f/9f/509f9fa9356d8389520bcde3b1ef00ef.jpg" width="35" height="35">

                    </a>

                </center>
                <h5 class="text-center">Ropa Formal</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaInterior">
                        <img id="imagenSeptima" class="img-circle" src="https://i.pinimg.com/736x/19/d4/fd/19d4fdc0c055c2c3aba4647a47b97516.jpg" width="35" height="35">

                    </a>

                </center>
                <h5 class="text-center">Ropa Interior</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorCalzados">
                        <img id="imagenOctava" class="img-circle" src="https://i.pinimg.com/736x/d1/aa/04/d1aa04fdb50116e27c419cb1a5dfb53a.jpg" width="35" height="35">

                    </a>

                </center>
                <h5 class="text-center">Calzados</h5>


            </div>
            <div class="col-lg-2" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorAccesorios"><img id="imagenNovena" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/80/99/ce/8099ce6fd766596efbac72e862f2f136.jpg" width="35" height="35"></a>

                </center>
                <h5 class="text-center">Accesorios Complementarios</h5>


            </div>
        </div>
     
    </div>

	<hr />
    <div class="container">
        <div class="row">
            @foreach (var producto in Model.ListadoProductosParaLaVenta)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 card mb-4">
                    <h4><span class="label label-primary">@producto.ProductosTerminados.NombreProducto</span></h4>
                    <center>
                        @if (!string.IsNullOrEmpty(producto.ProductosTerminados.ImagePath))
                        {
                            <img src="@Url.Content($"~/{producto.ProductosTerminados.ImagePath}")" alt="Logo" width="100" height="100" class="img-square" />
                        }
                        else
                        {
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Default Logo" width="100" height="100" class="img-square" />
                        }
                    </center>
                    <ul>
                        <li><h5 class="label label-success">Precio: @producto.ProductosTerminados.MonedaPreferida @producto.ProductosTerminados.Coste</h5></li>
                        <li><h5>Cantidad: @producto.ProductosTerminados.Cantidad </h5></li>
                        <li><h5>Descripción: @producto.ProductosTerminados.Descripcion</h5></li>
                        <li><h5>Para: @producto.ProductosTerminados.Sexo</h5></li>
                        <li><h5>Edades: @producto.ProductosTerminados.PersonasEnum</h5></li>
                        <li><h5>Tipo: @producto.ProductosTerminados.TipoDeProductoEnVentas - @producto.ProductosTerminados.SubtipoRopa</h5></li>
                        <li><h5>Talla: @producto.ProductosTerminados.Talla</h5></li>
                    </ul>
                    @if (user.Role == RoleEnum.Empleado)
                    {
                        <a class="btn btn-info" style="margin: 2%">Editar</a>
                        <a class="btn btn-danger" style="margin: 2%">Eliminar</a>
                    }

                    @if (user.Role == RoleEnum.Cliente)
                    {
                        <a class="btn btn-primary" style="margin: 2%">Comprar</a>
                        <a class="btn btn-warning" style="margin: 2%">Añadir al Carrito</a>
                    }
                </div>
            }
        </div>
    </div>

</div>