@using NovalynxFashion.Core.Entidades
@using NovalynxFashion.Core.Enums
@model IEnumerable<ProductosEnProduccionModel>

<h2>Producción</h2>
<a asp-area="Inventario" asp-controller="Produccion" asp-action="Crear" class="btn btn-primary" style="float: right;">Crear</a>
<hr />


<table class="table table-striped table-responsive-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto a Producir</th>
            <th>Materiales</th>
            <th>Coste</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produccion in Model)
        {
            <tr>
                <td>@produccion.Id</td>
                <td>@produccion.NombreProducto</td>
                <td>
                    @if (produccion.Ingredientes != null && produccion.Ingredientes.Any())
                    {
                        <ul>
                            @foreach (var ingrediente in produccion.Ingredientes)
                            {
                                <li>@ingrediente.NombreProducto</li> <!-- Display the name of each ingredient -->
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No hay materiales.</span> <!-- Message if there are no ingredients -->
                    }
                </td>
                <td>@produccion.MonedaPreferida @produccion.Coste</td>
                
                    @if(produccion.EstadoProducto == EstadoProductoEnProduccionEnum.EnRevision)
                    {
                        <td><span class="label label-warning">En Revisión</span></td>
                        <td><a class="btn btn-info">Revisar</a></td>
                    } else if (produccion.EstadoProducto == EstadoProductoEnProduccionEnum.EnProduccion)
                    {
                        <td><span class="label label-info">En Producción</span></td>
                        <td><a class="btn btn-info">Revisar</a></td>
                    } else if (produccion.EstadoProducto == EstadoProductoEnProduccionEnum.ProductoTerminado)
                    {
                        <td><span class="label label-dark">Producto Terminado</span></td>
                        <td><a class="btn btn-info">Revisar</a></td>
                    } else if (produccion.EstadoProducto == EstadoProductoEnProduccionEnum.AprobadoParaLaVenta)
                    {
                    <td><span class="label label-success">Aprobado para la venta</span></td>
                        <td><a asp-area="Ventas"
                           asp-controller="ProductosEnVentas"
                           asp-action="Vender"
                           asp-route-productoEnProduccionId="@produccion.Id"
                           class="btn btn-primary">Vender</a></td>
                    } else if (produccion.EstadoProducto == EstadoProductoEnProduccionEnum.Rechazado)
                    {
                    <td><span class="label label-danger">Producto Rechazado</span></td>
                    <td><a class="btn btn-info">Revisar</a></td>
                    }
               
            </tr>
        }
    </tbody>
</table>
